{% extends "pms/view_pm.html" %}

{% block extrahead %}
<script type="text/javascript" language="JavaScript" src="{{ MEDIA_URL }}js/quote.js"></script>
<title>{{ PM.subject}} - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
    <h1>{{ thread.subject }} </h1>
{% endblock %}

{% load bbking mdctime %}
{% block content %}
    <a name="pagetop">
    {% for pm in pm_list %}
    <a name="PM{{ pm.id }}"></a>
    <div class="post">
            {% if pm.sender == user %}
                <div class="my_post">
            {% else %}
                <div class="row2">
            {% endif %}
                <span id="info_{{ pm.id}}"><strong><a href="{% url 'view-profile' pm.sender.id %}" title="View {{ pm.sender.username }}'s profile">{{ pm.sender.username }}</a></strong> sent this on {% mdctime pm.created_at long %} to {{ pm.get_rec_str }}</span><strong><a href="javascript:;" onclick="quote('{% url get-pm-quote pm.id %}')" title="Quote this message">#{{ pm.id }}</a></strong><br />
                <strong>Subject:</strong>{{ pm.subject }}
                </div>

            <div class="body" id="post_{{ pm.id }}">
                <p>{% bbcode pm.bbcode %}</p>
            </div>
    </div>
    {% endfor %}
{% endblock %}
{% block bottombezel %}
    <div id="bottombezel">
        <ul>
            <li class="submenuitem"><a href="{% url 'inbox' %}" title="Go back to your inbox">Go back</a></li>
            <li class="submenuitem floatright"><a href="#pagetop" title="Jump to the top of the page">Jump to top</a></li>
        </ul>
{% endblock %}

