Django==1.3.1
South==0.7.3
python-memcached==1.48
ply==3.3
pytz
git+git://github.com/adreyer/BBKing.git#egg=bbking
django-haystack==1.2.6
simplejson==2.3.0
pysolr==2.1.0-beta
multiprocessing==2.6.2.1
BeautifulSoup==3.2.0
unittest2==0.5.1
mock==0.7.2
django-oembed==0.1.3
