{% extends "base.html" %}
{% block extrahead %}
<title>User list - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
<h1>User list</h1>
{% endblock %}

{% load mdctime %}
{% block content %}
    <table class="thread_list">
    {% for user in user_list %}
            <tr class="{% cycle "row1" "row2" %}">
            <td> {{ forloop.counter }} </td>
            <td><a href="{% url 'view-profile' user.id %}" title="View {{user.username }}'s profile">{{ user.username }}</a></td>
            <td>joined {% mdctime user.date_joined date %}</td>
            <td><a href="{% url 'threads-by' user.id %}" title="View threads by {{user.username }}">{{ user.get_profile.total_threads }} threads</a></td>
            <td><a href="{% url 'posts-by' user.id %}" title="View posts by {{ user.username }}">{{ user.get_profile.total_posts }} posts</a></td>
            <td>last seen {% mdctime user.get_profile.last_seen short %}</td>
            <td>{% if user.theme %}<a href="{% url 'edit-existing-theme' user.theme.id %}" title="View {{user.username }}'s theme">theme</a></td>{% endif %}

        </tr>
    {% endfor %}
    </table>
{% endblock %}

