
body {
    background-color: #{{ object.background }};
    font-family: {{ object.font_face }};
    font-size: {{ object.font_size }}%;
    color: #{{ object.text_color }};
}

a { color: #{{ object.text_color }}; text-decoration: none; }
a:hover { text-decoration: underline; }

.row1 { background-color: #{{ object.row1 }}; }

.row2 { background-color: #{{ object.row2 }}; }

.my_post { background-color: #{{ object.my_posts }}; }

textarea, input { 
    color: #{{ object.form_text_color }}; 
    background-color: #{{ object.form_background }}; 
}

div#ra {
    float: right;
}

div#gtfo p {
    width: 40em; 
    text-align: center; 
    color: white; 
    background-color: #800000; 
    border: 3px solid white; 
    margin: 4px; 
    margin-right: auto; 
    margin-left: auto; 
    padding: 4px; 
    font-size: large; 
    font-weight: bold; 
    text-transform: uppercase;
}

th.left {
    text-align: left;
}

th.right {
    text-align: right;
}

th.center {
    text-align: center;
}
