
body {
    background-color: #{{ object.background }};
    font-family: {{ object.font_face }};
    font-size: {{ object.font_size }}%;
    color: #{{ object.text_color }};
}

a { 
    color: #{{ object.text_color }}; 
}

.row1 { 
    background-color: #{{ object.row1 }}; 
}

.row2 { 
    background-color: #{{ object.row2 }}; 
}

.my_post { 
    background-color: #{{ object.my_posts }}; 
}

div.post {
    border: 1px solid #{{ object.text_color }};
}

div.body {
    border-top: 1px solid #{{ object.text_color }};
}

textarea, input { 
    color: #{{ object.form_text_color }}; 
    background-color: #{{ object.form_background }}; 
}

div#submenu {
    background-color: #{{ object.row2 }};
}

.menuitem {
    background-color: #{{ object.row2 }}; 
}

.menuitem:hover {
    background-color: #{{ object.my_posts }};
}

.submenuitem {
    background-color: #{{ object.row1 }};
}

.submenuitem:hover {
    background-color: #{{ object.my_posts }};
}
