
body {
    background-color: #{{ object.background }};
    font-family: {{ object.font_face }};
    font-size: {{ object.font_size }}%;
    color: #{{ object.text_color }};
}

a { color: #{{ object.text_color }}; text-decoration: none; }
a:hover { text-decoration: underline; }

.row1 { background-color: #{{ object.row1 }}; }

.row2 { background-color: #{{ object.row2 }}; }

.my_post { background-color: #{{ object.my_posts }}; }

textarea, input { 
    color: #{{ object.text_color }}; 
    background-color: #{{ object.form_background }}; 
}

