{% extends "base.html" %}
{% block extrahead %}
<title>Invites - {{ site_name }}</title>
{% endblock %}
{% block pagetitle %}
    <h1>Invites {{poster}}</h1>
{% endblock %}

{% load bbking mdctime %}


{% block content %}
{% if perms.invites.can_approve %}
    {% for invite in object_list %}
        <div class="post">
        <div class="row2">
            <a href="{% url view-profile invite.inviter.id %}">
                {{ invite.inviter.username }}</a> invited {{ invite.invitee }} 
                on {% mdctime invite.created_on short %}
                {% if invite.approved %}
                    <br />
                    {{ invite.approved_by.username }}
                    approved this on 
                    {% mdctime invite.approved_on short %}
                {% else %}
                    {% if not invite.rejected %}
                        <span class="submenuitem">
                        <form class="submenuitem" name="rejf{{ invite.id }}" action="{% url reject-invite invite.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="confirm" value="true">
                        <a href="javascript:void(1);"  onClick="document.rejf{{ invite.id }}.submit();" title="reject this invite">
                            reject</a>
                       </form>
                       </span>
                    {% else %}
                        <br />
                        {{ invite.approved_by.username }}
                        rejected this on 
                        {% mdctime invite.approved_on short%}
                    {% endif %}
                    <span class="submenuitem">
                    <form class="submenuitem" name="appf{{ invite.id }}" action="{% url approve-invite invite.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="confirm" value="true">
                    <a href="javascript:void(1);" onClick="document.appf{{ invite.id }}.submit();" title="approve this invite">
                    approve</a></form></span>
                {% endif %} 
            </div>
            <div class="body">
                <p>{{ invite.explanation }}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if not perms.invites.can_approve or not object_list %}
    <form method="post" action="{% url invite-list %}">
        {% csrf_token %}
        <table>
            <tr>
                <th class="legend">Email: </th>
                <td>{{ form.invitee }}</td>
                <td>{{ form.invitee.errors }}</td>
            </tr>
            <tr>
                <th class="legend">Who is this?<br/>How do you know<br/>this person? </th>
                <td>{{ form.explanation }}</td>
                <td>{{ form.explanation.errors }}</td>
            </tr>
            <tr>
                <th/>
                <td><input type="submit" value="Save" /></td>
            </tr>
        </table>
    </form>
{% endif %}
{% endblock %}


{% block bottombezel %}
{% if perms.invites.can_approve and object_list %}
    <div id="bottombezel">
         <ul>
            <li class="submenulegend">Page:</li>
            {% for p in page_obj.paginator.page_range %}
                {% if p == page_obj.number %}
                    <li class="submenuitem"><strong>{{ p }}</strong></li>
                {% else %}
                    <li class="submenuitem"><a href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}

{% block replyform %}
{% if perms.invites.can_approve and object_list %}

    <form method="post" action="{% url invite-list %}">
        {% csrf_token %}
        <table>
            <tr>
                <th class="legend">Email: </th>
                <td>{{ form.invitee }}</td>
                <td>{{ form.invitee.errors }}</td>
            </tr>
            <tr>
                <th class="legend">Explain: </th>
                <td>{{ form.explanation }}</td>
                <td>{{ form.explanation.errors }}</td>
            </tr>
            <tr>
                <th/>
                <td><input type="submit" value="Save" /></td>
            </tr>
        </table>
    </form>
{% endif %}
{% endblock %}

