{% extends "base.html" %}
{% block extrahead %}
<title>New thread - {{ site_name }}</title>
{% endblock %}
{% block pagetitle %}
<h1>New thread</h1>
{% endblock %}
{% block content %}
<form method="post" action="{% url new-thread %}" onSubmit="document.getElementById('postbutton').style.display='none';" class="replyform">
    <div class="replyform">
        {% csrf_token %}
        {{ thread_form.subject }} {{ thread_form.subject.errors }}<br />
        {{ post_form.body }} {{ post_form.body.errors }}<br />
        <input type="submit" id="postbutton" value="Say It" />
        <a class="button" href="http://wiki.mdc2.org/index.php/Cheat_codes" target="_blank">BBCode help</a>
    </div>
</form>
{% endblock %}

{% block replyform %}

{% endblock %}
