{% extends "base.html" %}

{% block content %}
    <h2>{{ thread.subject }}</h2>
    <a href="{% url view-thread-full thread.id %}">Show all 
        {{ thread.total_posts }} replies</a>
    {% for post in object_list %}
        <div class="post">
            {% if post.creator == user %}
                <div class="my_post">
            {% else %}
                <div class="row2">
            {% endif %}
                {{ post.creator.username }} posted this on
                {{ post.updated_at|date:"D, d-M-Y \a\t h:m a"}}
            </div>
            <div class="body">
                {{ post.body|linebreaksbr }}
            </div>
        </div>
    {% endfor %}
    <a href="{% url list-threads %}">Go Back</a>
    <a name="post" />
    <form method="post" action="{% url view-thread thread.id %}#post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Say It" />
    </form>
{% endblock %}
