{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript" language="JavaScript" src="{{ MEDIA_URL }}js/quote.js"></script>
<title>{{ thread.subject}} - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
    <h1>{{ thread.subject }} </h1>
{% endblock %}

{% load bbking %}
{% block extramenu %}
    <div id="submenu">
        <ul>
            {% if thread.total_posts > 10 %}
                {% if not expand %}
                    {% if hide %}
                    <li class="submenuitem"><a href="{% url view-thread-full-hide thread.id start %}">Show all ({{ thread.total_posts }})</a></li>
                    {% else %}
                    <li class="submenuitem"><a href="{% url view-thread-full-start thread.id start %}">Show all ({{ thread.total_posts }})</a></li>
                    {% endif %}
                {% else %}
                    {% if hide %}
                    <li class="submenuitem"><a href="{% url view-thread-hide thread.id start %}">Collapse</a></li>
                    {% else %}
                    <li class="submenuitem"><a href="{% url view-thread-start thread.id start %}">Collapse</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if hide %}
                {% if expand %}
                    <li class="submenuitem"><a href="{% url view-thread-full-show thread.id start %}">Show Images</a></li>
                {% else %}
                    <li class="submenuitem"><a href="{% url view-thread-show thread.id start %}">Show Images</a></li>
                {% endif %}
            {% else %}
                {% if expand %}
                    <li class="submenuitem"><a href="{% url view-thread-full-hide thread.id start %}">Hide Images</a></li>
                {% else %}
                    <li class="submenuitem"><a href="{% url view-thread-hide thread.id start %}">Hide Images</a></li>
                {% endif %}
            {% endif %}
            <li class="submenuitem"><a href="{% url thread-history thread.id %}">Thread history</a></li>
            {% if perms.board.can_sticky %}
              {% if thread.stuck %}
                <li class="submenuitem"><a href="{% url unsticky thread.id %}">Unsticky thread</a></li>
              {% else %}
                <li class="submenuitem"><a href="{% url sticky thread.id %}">Sticky thread</a></li>
              {% endif %}
            {% endif %}
            {% if perms.board.can_lock %}
                {% if thread.locked %}
                <li class="submenuitem"><a href="{% url unlock-thread thread.id %}">Unlock thread</a></li>
                {% else %}
                <li class="submenuitem"><a href="{% url lock-thread thread.id %}">Lock thread</a></li>
                {% endif %}
             {% endif %}
             {% block extrapostmenu %}
             {% endblock %}
            <li class="submenuitem floatright"><a href="#pagebottom">Jump to bottom</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% block prepostcontent %}
    {% endblock %}
    {% for post in object_list %}
        <a name="{{ post.id }}"></a>
        <div class="post">
            {% if post.creator == user %}
                <div class="my_post">
            {% else %}
                <div class="row2">
            {% endif %}
                <strong><a href="{% url view-profile post.creator.id %}">{{ post.creator.username }}</a></strong> posted this on {{ post.created_at|date:"D, d-M-Y \a\t h:i:s a"}}
                <strong><a href="javascript:;" onclick="quote('{% url get-quote post.id %}')">#{{ post.id }}</a></strong>
            </div>
            <div class="body" id="post_{{ post.id }}">
                <p>{% bbcode post.bbcode %}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block bottombezel %}
    <div id="bottombezel">
        <ul>
            <li class="submenuitem"><a href="{% url list-threads %}">Go back</a></li>
            <li class="submenuitem floatright"><a href="#pagetop">Jump to top</a></li>
        </ul>
    </div>
{% endblock %}
{% block replyform %}
{% if not thread.locked %}
<a name="post"></a>
    <form method="post" action="{% url view-thread thread.id %}#post" onSubmit="document.getElementById('postbutton').style.display='none';">
    {% csrf_token %}
    <div class="replyform" style="float: left;">
        {{ form.body.errors }}<br />{{ form.body }}<br />
        {{ form.form_lock }}
        <input class="button" type="submit" id="postbutton" value="Say it" />
        <input type="button" class="button" onClick="toggle('bbcode_cheat')" value="BBCode help" style="float: right;"/>
    </div>
    </form>

    <div style="position: relative; margin-top: 2em;">
    <div style="display: none;" id="bbcode_cheat">
    <pre>[url]http://www.example.com/[/url]
[url=http://www.example.com/]Example link text[/url]
[img]http://www.example.com/picture.jpg[/img]
[u]underline[/u]
[b]bold[/b]
[i]italic[/i]
[strike]strikethrough[/strike]
[code]monospace or preformatted text[/code]
[youtube]http://www.youtube.com/watch?v=WAwLYJYsa0A[/youtube]
[quote]quoted text[/quote]
[hidden]hidden spoilers etc.[/hidden]</pre>
    </div>
    </div>
{% else %}
{% block locknotice %}
    <div class="notice">This thread is locked. No more replies may be added.</div>
{% endblock %}
{% endif %}
{% endblock %}
