{% extends "base.html" %}
{% block tabtitle %}
<title>{{ thread.subject}} - {{ site_name }}</title>
{% endblock %}
{% block pagetitle %}
    <h1>{{ thread.subject }}</h1>
{% endblock %}

{% load bbcode %}
{% block extramenu %}
    <div id="submenu">
        <ul>
            <li class="submenuitem"><a href="{% url view-thread-full thread.id %}">Show all ({{ thread.total_posts }})</li>
            <li class="submenuitem"><a href="/this/does/nothing/lol">Hide images</a></li>
            <li class="submenuitem"><a href="{% url sticky thread.id %}">Toggle sticky</a></li>
            <li class="submenuitem"><a href="{% url thread-history thread.id %}">Thread history</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% for post in object_list %}
        <div class="post">
            {% if post.creator == user %}
                <div class="my_post">
            {% else %}
                <div class="row2">
            {% endif %}
                <strong><a href="{% url view-profile post.creator.id %}">{{ post.creator.username }}</a></strong> posted this on
                {{ post.updated_at|date:"D, d-M-Y \a\t h:m a"}}
            </div>
            <div class="body">
                <p>{% bbcode post.body %}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block bottombezel %}
    <div id="bottombezel">
        <ul>
            <li class="submenuitem"><a href="{% url list-threads %}">Go back</a></li>
        </ul>
    </div>
{% endblock %}
{% block replyform %}
<a name="post" />
    <form method="post" action="{% url view-thread thread.id %}#post">
    {% csrf_token %}
    <p class="replyform">
        <textarea id="id_body" rows="12" cols="60" name="body"></textarea><br >
            <input class="button" type="submit" value="Say it" />
        </p>
    </form>
{% endblock %}
