{% extends "base.html" %}
{% block extrahead %}
<title>Posts by {{poster}} - {{ site_name }}</title>
{% endblock %}
{% block pagetitle %}
    <h1>Posts by {{poster}}</h1>
{% endblock %}

{% load bbking %}
{% load mdctime %}
{% block extramenu %}
    <div id="submenu">
        <ul>
            <li class="submenuitem"><a href="{% url new-thread %}" title="start a new thread">New Thread</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% for post in object_list %}
        <div class="post">
        <div class="row2">
            <strong>Subject: </strong><a href="{% url view-post post.id %}#{{ post.id }}" title="view post in thread">{{ post.thread.subject }}</a><br/>
            <strong>Posted:</strong>
                {% mdctime post.created_at long %}
            </div>
            <div class="body">
                <p>{% bbcode post.bbcode %}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block bottombezel %}
    <div id="bottombezel">
        {% load pagemenu %}
        {% pagemenu page_obj %}
    </div>
{% endblock %}

