{% extends "base.html" %}

{% load cache util %}

{% block extramenu %}
    <div id="submenu">
        <ul>
            <li class="submenuitem"><a href="{% url new-thread %}">New thread</a></li>
            <li class="submenuitem"><a href="{% url  mark-threads-read %}">Mark all read</a></li>
        </ul>
    </div>
{% endblock extramenu %}

{% block content %}
    <table class="thread_list">
    {% withcycle "row1" "row2" as row_color %}
        {% for thread in thread_list %}
            {% if thread.creator == user %}
                <tr class="my_post">
            {% else %}
                <tr class="{{ row_color }}">
            {% endif %}
            <td nowrap="nowrap"><a href="{% url view-profile thread.creator.id %}">{{ thread.creator.username }}</a></td>
            <td>{% if thread.unread %}
                    <b><a href="{% url view-thread thread.id %}{% spaceless %}
                        {% if thread.last_post_read %}
                                #{{ thread.last_post_read }}
                            {% endif %}{% endspaceless %}">
                        {% if thread.locked %}<strong>Locked: </strong>{% endif %}
                        {% if thread.stuck %}<strong>Sticky: </strong>{% endif %}
                        {{ thread.subject }}</a></b>
                {% else %}
                    <a href="{% url view-thread thread.id %}{% spaceless %}
                        {% if thread.last_post_read %}
                                #{{ thread.last_post_read }}
                            {% endif %}{% endspaceless %}">
                        {% if thread.locked %}<strong>Locked: </strong>{% endif %}
                        {% if thread.stuck %}<strong>Sticky: </strong>{% endif %}
                        {{ thread.subject }}</a>
                {% endif %}
            </td>
            <td nowrap="nowrap">{{ thread.last_post|date:"h:i a d-M-y"}} by <a class="smallfont" href="{% url view-profile thread.last_post_by.id %}">{{ thread.last_post_by.username }}</a></td>
            <td nowrap="nowrap" class="count">{{ thread.total_posts }}</td>
            <td nowrap="nowrap" class="count"><a href="{% url thread-history thread.id %}">
                {{ thread.total_views }}</a></td>
            </tr>
            {% nextcycle row_color %}
        {% endfor %}
    {% endwithcycle %}
    </table>
{% endblock %}
{% block bottombezel %}
<div id="bottombezel">
    <ul>
            <li class="submenulegend">Page:</li>
    {% for p in page_obj.paginator.page_range %}
        {% if p == page_obj.number %}
            <li class="submenuitem"><strong>{{ p }}</strong></li>
        {% else %}
            <li class="submenuitem"><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}
