{% extends "base.html" %}

{% load cache %}

{% block content %}
    <table class="thread_list">
    <tr>
        <th class="left">Username</th>
        <th class="left">Subject</th>
        <th class="left">Last Post</th>
        <th class="center">Replies</th>
        <th class="center">Views</th>
    </tr>
    {% for thread in thread_list %}
        {% if thread.creator == user %}
            <tr class="my_post">
        {% else %}
            <tr class="{% cycle "row1" "row2" %}">
        {% endif %}
            <td>{{ thread.creator.username }}</td>
            <td>{% if thread.unread %}
                    <b><a href="{% url view-thread thread.id %}">
                        {{ thread.subject }}</a></b>
                {% else %}
                    <a href="{% url view-thread thread.id %}">
                        {{ thread.subject }}</a>
                {% endif %}
            </td>
            <td>{{ thread.last_post|date:"P d-M-Y"}} by {{ thread.last_post_by.username }}</td>
            <td>{{ thread.total_posts }}</td>
            <td><a href="{% url thread-history thread.id %}">
                {{ thread.total_views }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
