{% extends "base.html" %}
{% block extrahead %}
<title>History for "{{ thread.subject }}" - {{ site_name }}</title>
{% endblock %}
{% block pagetitle %}
<h1>History for "{{ thread.subject }}"</h1>
{% endblock %}

{% load util mdctime %}
{% block content %}
    <table class="thread_list">
    <tr>
        <th class="heading">User</th>
        <th class="heading">Last read</th>
        <th class="heading">Posts</th>
        <th class="heading">Views</th>
    </tr>
    {% withcycle "row1" "row2" as row_color %}
        {% for last_read in read_list %}
        <tr class="{{ row_color }}">
            <td>{{ last_read.user.username }}</td>
            <td>{% mdctime last_read.timestamp short %}</td>
            <td>{{ last_read.post_count }}</td>
            <td>{{ last_read.read_count }}</td>
        </tr>
        {% nextcycle row_color %}
        {% endfor %}
    {% endwithcycle %}
    </table>
{% endblock %}
