{% extends "base.html" %}

{% load cache util %}

{% block content %}
    <table class="thread_list">
    {% withcycle "row1" "row2" as row_color %}
        {% for thread in thread_list %}
            {% if thread.creator == user %}
                <tr class="my_post">
            {% else %}
                <tr class="{{ row_color }}">
            {% endif %}
            <td nowrap="nowrap">{{ thread.creator.username }}</td>
            <td>{% if thread.unread %}
                    <b><a href="{% url view-thread thread.id %}">
                        {% if thread.stuck %}<strong>Sticky: </strong>{% endif %}
                        {{ thread.subject }}</a></b>
                {% else %}
                    <a href="{% url view-thread thread.id %}">
                        {% if thread.stuck %}<strong>Sticky: </strong>{% endif %}
                        {{ thread.subject }}</a>
                {% endif %}
            </td>
            <td nowrap="nowrap">{{ thread.last_post|date:"h:i a d-M-y"}} by <span class="smallfont">{{ thread.last_post_by.username }}</span></td>
            <td nowrap="nowrap" class="count">{{ thread.total_posts }}</td>
            <td nowrap="nowrap" class="count"><a href="{% url thread-history thread.id %}">
                {{ thread.total_views }}</a></td>
            </tr>
            {% nextcycle row_color %}
        {% endfor %}
    {% endwithcycle %}
    </table>
{% endblock %}
{% block bottombezel %}
<div id="bottombezel">
    <ul>
            <li class="submenulegend">Page:</li>
    {% for p in page_obj.paginator.page_range %}
        {% if p == page_obj.number %}
            <li class="submenuitem"><strong>{{ p }}</strong></li>
        {% else %}
            <li class="submenuitem"><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}
