<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{{ site_name }}</title>
{% block style %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site.css" 
        type="text/css" media="screen" />
    {% block user_theme %}
        {% if user.theme %}
            <link rel="stylesheet" href="{% url theme-css user.theme.id %}"
                type="text/css" media="screen" />
        {% else %}
            <link rel="stylesheet" href="{% url default-theme-css %}"
                type="text/css" media="screen" />
        {% endif %}
    {% endblock %}
{% endblock %}
</head>
<body>
<div id="header">
{% block header %}
    <h1>{{ site_name }}</h1>
    <div id="user">
        <ul>
            <li>Logged in as <strong>{{ user.username }}</strong></li>
            <li><a href="{% url django.contrib.auth.views.logout %}">Log out</a></li>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="{% url new-thread %}">New Thread</a></li>
            <li><a href="{% url list-profiles %}">User List</a></li>
            <li><a href="{% url edit-theme %}">Edit Theme</a></li>
            <li><a href="{% url inbox %}">Messages</a></li>
            {% if user.is_staff %}
            <li><a href="/admin/">Admin</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
</div>

<div id="content">
{% block content %}
Put content here, motherfucker.
{% endblock %}
</div>

<div id="footer">
{% block footer %}
<div id="ra">
    <img src="{{ MEDIA_URL }}images/eor.png">
</div>
{% endblock %}
</div>
</body>

