<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="robots" content="none" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}images/eor_fav.png" mce_href="{{ MEDIA_URL }}images/eor_fav.png" />
{% block extrahead %}
{% endblock extrahead %}
{% block tabtitle %}
<title>{{ site_name }}</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site.css" 
        type="text/css" media="screen" />
    {% block user_theme %}
        {% if user.theme %}
            <link rel="stylesheet" href="{{ user.theme.get_absolute_url }}"
                type="text/css" media="screen" />
        {% else %}
            <link rel="stylesheet" href="{% url default-theme-css %}"
                type="text/css" media="screen" />
        {% endif %}
    {% endblock %}
{% endblock %}
<script type="text/javascript" language="JavaScript" src="{{ MEDIA_URL }}js/base.js"></script>
</head>
<body>
<a name="pagetop"></a>
<div id="header">
{% block header %}
    {% block pagetitle %}
    <h1>{{ site_name }}</h1>
    {% endblock %}
    <div id="search_box">
    <form method="get" action="{% url search-threads %}">
        <input type="text" name="query" value="{{ search_query }}" />
        <input type="submit" value="Search" />
    </form>
    </div>
    <div id="status">{{ thread_count }} thread{{ thread_count|pluralize }}, 
        <a href="{% url active-users %}" title="view active users">{% spaceless %}
            {{ online_users }} active user{{ online_users|pluralize }},
            {{ posting_users }} posting user{{ posting_users|pluralize }}
        {% endspaceless %}</a>
    </div>
    {% if user.is_authenticated %}
    <div id="user">
        <ul>
            <li class="menuitem"><a href="{% url view-profile user.id %}" title="view and edit your profile">{{ user.username }}</a></li>
            <li class="menuitem"><a href="{% url django.contrib.auth.views.logout %}" title="logout">Log out</a></li>
        </ul>
    </div>
    {% endif %}
    <div id="menu">
        <ul>
            <li class="menuitem"><a href="{% url list-threads %}" title="thread list">Index</a></li>
            <li class="menuitem"><a href="{% url inbox %}" title="pms">
                {% if new_pms %}
                    <span class="urgent">Messages ({{ new_pms }})</span>
                {% else %}Messages{% endif %}</a></li>
            <li class="menuitem"><a href="{% url list-events %}" title="event list">
                {% if new_events %}
                    <span class="urgent">Events ({{ new_events }})</span>
                {% else %}Events{% endif %}</a></li>
            <li class="menuitem"><a href="{% url list-users %}" title="user list">User list</a></li>
            <li class="menuitem"><a href="http://wiki.mdc2.org/index.php/Main_Page" title="MDC wiki">Wiki</a></li>
            <li class="menuitem"><a href="{% url invite-list %}" title="make and invite">
                {% if new_invites and perms.invites.can_approve %}
                    <span class="urgent">Invites ({{ new_invites }})</span>
                 {% else %}Invite{% endif %}</a></li>
            {% if perms.board.can_lock %}
                <li class="menuitem"><a href="{% url ban %}" title="manage banishment">Banishment</a>
            {% endif %}
            {% if user.is_staff %}
            <li class="menuitem"><a href="{% url admin:index %}" title="admin panel">Admin</a></li>
            {% endif %}
            <li class="menuitem"><a href="http://www.arkestrator.org/" title="report a bug with trac">Trac</a></li>
        </ul>
    </div>
        {% block extramenu %}
        <div id="submenu"></div>
        {% endblock %}
{% endblock %}
</div>

{% block loginbezel %}
{% endblock %}

<div id="content">
{% block content %}
Put content here, motherfucker.
{% endblock %}
</div>
{% block bottombezel %}
<div id="bottombezel"></div>
{% endblock %}
{% block replyform %}
{% endblock %}
<div id="footer">
{% block footer %}
<div id="ra">
    <img src="{{ MEDIA_URL }}images/eor.png">
</div>
{% endblock %}
</div>
<a name="pagebottom"></a>
</body>
</html>
