<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
{% block tabtitle %}
<title>{{ site_name }}</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site.css" 
        type="text/css" media="screen" />
    {% block user_theme %}
        {% if user.theme %}
            <link rel="stylesheet" href="{{ user.theme.get_absolute_url }}"
                type="text/css" media="screen" />
        {% else %}
            <link rel="stylesheet" href="{% url default-theme-css %}"
                type="text/css" media="screen" />
        {% endif %}
    {% endblock %}
{% endblock %}
</head>
<body>
<div id="header">
{% block header %}
    {% block pagetitle %}
    <h1>{{ site_name }}</h1>
    {% endblock %}
    <div id="status">{{ thread_count }} thread{{ thread_count|pluralize }}, 
        {{ online_users }} active users
    </div>
    <div id="user">
        <ul>
            <li class="menuitem"><a href="/profiles/{{ user.id }}"><strong>{{ user.username }}</strong></a></li>
            <li class="menuitem"><a href="{% url django.contrib.auth.views.logout %}">Log out</a></li>
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li class="menuitem"><a href="/">Index</a></li>
            <li class="menuitem"><a href="{% url new-thread %}">New thread</a></li>
            <li class="menuitem"><a href="{% url inbox %}">
                {% if new_pms %}
                    <span class="urgent">Messages ({{ new_pms }})</span>
                {% else %}Messages{% endif %}</a></li>
            <li class="menuitem"><a href="{% url list-profiles %}">User list</a></li>
            <li class="menuitem"><a href="http://wiki.mdc2.org/index.php/Main_Page">Wiki</a></li>
            <li class="menuitem"><a href="{% url new-invite %}">Invite</a></li>
            {% if user.is_staff %}
            <li class="menuitem"><a href="/admin/">Admin</a></li>
            {% endif %}
        </ul>
    </div>
        {% block extramenu %}
        {% endblock %}
{% endblock %}
</div>

<div id="content">
{% block content %}
Put content here, motherfucker.
{% endblock %}
</div>

<div id="footer">
{% block footer %}
<div id="ra">
    <img src="{{ MEDIA_URL }}images/eor.png">
</div>
{% endblock %}
</div>
</body>

