{% extends "base.html" %}
{% block extrahead %}
<title>New thread - {{ site_name }}</title>
{% endblock %}
{% block pagetitle %}
<h1>New thread</h1>
{% endblock %}
{% block content %}
<form method="post" action="{% url 'new-thread' %}" onSubmit="document.getElementById('postbutton').style.display='none';" class="replyform">
        {% csrf_token %}
        <table>
            <tr>
                <th nowrap="nowrap" class="legend"><label for="subject">Subject:</label></th>
                <td>{{ thread_form.subject }} {{ thread_form.subject.errors }}</td>
            </tr>
            <tr>
                <th />
                <td>{{ post_form.body }} {{ post_form.body.errors }}</td>
            </tr>
            <tr>
                <th />
                <td><input type="submit" id="postbutton" value="Say It" />
            </td>
        </table>
</form>
{% endblock %}

{% block replyform %}

{% endblock %}
