{% extends "base.html" %}

{% load bbking wordfilter %}
{% load mdctime %}

{% block extrahead %}
<script type="text/javascript" language="JavaScript" src="{{ MEDIA_URL }}js/quote.js"></script>
<title>{{ thread.subject|wordfilter}} - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
    <h1>{{ thread.subject|wordfilter }} </h1>
{% endblock %}

{% block extramenu %}
        <div id="submenu">
        <ul>
            {% if thread.total_posts > 10 %}
                {% if not expand %}
                    {% if hide %}
                    <li class="submenuitem"><a href="{% url 'view-thread-full-hide' thread.id start %}" title="Show all posts">Show all ({{ thread.total_posts }})</a></li>
                    {% else %}
                    <li class="submenuitem"><a href="{% url 'view-thread-full-start' thread.id start %}" title="Show all posts">Show all ({{ thread.total_posts }})</a></li>
                    {% endif %}
                {% else %}
                    {% if hide %}
                    <li class="submenuitem"><a href="{% url 'view-thread-hide' thread.id start %}" title="Collapse old posts">Collapse</a></li>
                    {% else %}
                    <li class="submenuitem"><a href="{% url 'view-thread-start' thread.id start %}" title="Collapse old posts">Collapse</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if hide %}
                {% if expand %}
                    <li class="submenuitem"><a href="{% url 'view-thread-full-show' thread.id start %}" title="Show images">Show Images</a></li>
                {% else %}
                    <li class="submenuitem"><a href="{% url 'view-thread-show' thread.id start %}" title="Show images">Show Images</a></li>
                {% endif %}
            {% else %}
                {% if expand %}
                    <li class="submenuitem"><a href="{% url 'view-thread-full-hide' thread.id start %}" title="Hide images">Hide Images</a></li>
                {% else %}
                    <li class="submenuitem"><a href="{% url 'view-thread-hide' thread.id start %}" title="Hide images">Hide Images</a></li>
                {% endif %}
            {% endif %}
            <li class="submenuitem">
            <form name="fav_form" action="{% url 'favorite' thread.id %}" method="post">
            {% csrf_token %}
            {% if fav %}
                <input type="hidden" name="fav" value="remove">
                <a href="javascript:void(1);" onClick="document.fav_form.submit();" title="Remove from favorites">Unfavorite</a>
            {% else %}
                <input type="hidden" name="fav" value="add">
                <a href="javascript:void(1);" onClick="document.fav_form.submit();" title="Add to favorites">Favorite</a>
            {% endif %}
            </form>
            </li>
            <li class="submenuitem"><a href="{% url 'thread-history' thread.id %}" title="Show thread history">History</a></li>
            {% if perms.board.can_sticky %}
              <li class="submenuitem">
              <form name="stickform" action="{% url 'sticky' thread.id %}" method="post">
              {% csrf_token %}
              {% if thread.stuck %}
                <input type="hidden" name="sticky" value="unsticky">
                <a href="javascript:void(1);" onClick="document.stickform.submit();" title="Unsticky this thread">Unsticky</a>
              {% else %}
                <input type="hidden" name="sticky" value="sticky">
                <a href="javascript:void(1)" onClick="document.stickform.submit();" title="Sticky this thread">Sticky</a></li>
              {% endif %}
              </form>
              </li>
            {% endif %}
            {% if perms.board.can_lock %}
                <li class="submenuitem">
                <form name="lockform" action="{% url 'lock-thread' thread.id %}" method="post">
                {% csrf_token %}
                {% if thread.locked %}
                    <input type="hidden" name="lock" value="unlock">
                    <a href="javascript:void(1)" onClick="document.lockform.submit();" title="Unlock this thread">Unlock</a>
                {% else %}
                    <input type="hidden" name="lock" value="lock">
                    <a href="javascript:void(1)" onClick="document.lockform.submit();" title="Lock this thread">Lock</a>
                {% endif %}
                </form>
                </li>
             {% endif %}
             {% block extrapostmenu %}
             {% endblock %}
            <li class="submenuitem floatright"><a href="#pagebottom" title="Jump to bottom">Jump to bottom</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% block prepostcontent %}
    {% endblock %}
    {% for post in object_list %}
        <a name="{{ post.id }}"></a>
        <div class="post">
            {% if post.creator == user %}
                <div class="my_post">
            {% else %}
                <div class="row2">
            {% endif %}
                <strong><a href="{% url 'view-profile' post.creator.id %}" title="View {{ post.creator.username }}'s profile">{{ post.creator.username }}</a></strong> posted this on {% mdctime post.created_at long %}
                <strong><a href="javascript:;" onclick="quote('{% url "get-quote" post.id %}')" title="Quote this post">#{{ post.id }}</a></strong>
            </div>
            <div class="body" id="post_{{ post.id }}">
                <p>{% bbcode post.bbcode %}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block bottombezel %}
    <div id="bottombezel">
        <ul>
            <li class="submenuitem"><a href="{% url 'list-threads' %}" title="Back to thread list">Go back</a></li>
            <li class="submenuitem floatright" title="jump to top"><a href="#pagetop">Jump to top</a></li>
        </ul>
    </div>
{% endblock %}
{% block replyform %}
{% if not thread.locked %}
<a name="post"></a>
    <form method="post" action="{% url 'view-thread' thread.id %}#post" onSubmit="document.getElementById('postbutton').value='Please wait...';">
    {% csrf_token %}
    <div class="replyform" style="float: left;">
        {{ form.body.errors }}<br />{{ form.body }}<br />
        {{ form.form_lock }}
        <input class="button" type="submit" id="postbutton" value="Say it" />
    </div>
    </form>
{% else %}
{% block locknotice %}
    <div class="notice">This thread is locked. No more replies may be added.</div>
{% endblock %}
{% endif %}
{% endblock %}
