h1 {
    font-size: large;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0em;
    margin-right: 0em;
}

p {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote.quote {
    margin: 0.5em 0.33em 0.33em 0.33em; 
    padding: 0.5em; 
    border-radius: 0.5em;
}

blockquote a {
    font-style: italic;
}

th {
    text-align: right;
    font-weight: bold;
}

th.legend {
    min-width: 0;
    padding: 0.25em;
    vertical-align: top;
}

th.heading {
    font-size: small;
    text-align: left;
    padding: 0.25em;
}

td.wwwwwwww {
    max-width: 30em;
    overflow: hidden;
}

div.wwwwwwww {
    max-height: 3.5em;
    overflow: hidden;
}

td.icons {
    text-align: right;
    width: 0;
    opacity: 0.5;
    -moz-opacity: 0.5;
}

div.pmbody {
    margin-right: 2em;
    margin-left: 2em;
}

.smallfont {
    font-size: small;
}

div#header {
    width: 100%;
    margin: 0 auto;
}

ul.errorlist, ul.errorlist li {
    display: inline;
    font-weight: bold;
    background: #ffffff;
    color: #ff0000;
}

.floatright {
    float: right;

/* WARNING! AHEAD THERE BE HACKS! */
    zoom: 1
    *display: inline !important;
    *float: none;
}

li {
    zoom: 1;
    *display: inline !important;
}

/* END OF HACKS FOR FUCKING INTERNET EXPLORER BULLSHIT */




.thread_list {
    width: 100%;
    border-collapse: collapse;
}

div#content {
    clear: both;
}

table.thread_list td {
    padding: 0.3em;
}

table.thread_list td.count {
    text-align: center;
    min-width: 1.5em;
}

div.recipientlist {
    max-width: 12em;
    max-height: 4em;
    overflow: hidden;
}

div.body, div.row2, div.my_post {
    padding: 0.25em;
}

div.body {
    padding-bottom: 0.67em;
}

div.post div.body a {
    text-decoration: underline;
}

div.post div.body a:hover {
    text-decoration: none;
}

div.post {
    margin-bottom: -1px; /* LOL */
}

.replyform {
   padding: 0.33em;
}

textarea, input {
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

div#ra {
    float: right;
    margin: 0.25em;
    margin-top: 0.5em;
}

 div#gtfo p {
    width: 40em; 
    text-align: center; 
    color: white; 
    background-color: #800000; 
    border: 0.25em solid white; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 0;
    padding: 0.5em; 
    font-size: large; 
    font-weight: bold; 
    text-transform: uppercase;
}

div.notice {
    width: 40em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: large;
    font-weight: bold;
}

.urgent {
    text-decoration: blink;
    font-weight: bold;
}

.big {
    font-size: large;
}

.huge {
    font-size: xx-large;
}

.small {
    font-size: small;
}

.tiny {
    font-size: xx-small;
}


/* nav rewrite */

div #user ul, div#menu ul, div#submenu ul, div#bottombezel ul {
    list-style-type: none;
    overflow: auto;
    padding: 0;
    margin: 0;
}


div#user ul li, div#menu ul li, div#submenu ul li, div#bottombezel ul li {
    display: inline-block;
}

div#user ul li a, div#menu ul li a {
    display: block;
    padding: 0.33em 0.67em 0.33em 0.67em;
    text-decoration: none;
}

div#submenu ul li a, div#bottombezel ul li a {
    display: block;
    padding: 0.25em;
    text-decoration: none;
}

div#user ul {
    float: right;
    margin-right: 0.33em;
    margin-top: 0.5em;
}

div#menu ul {
    float: left;
    margin-left: 0.33em;
    margin-top: 0.5em;
}

div#submenu {
    clear: both;
}

div#bottombezel {
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
}

div#menu ul li, div#user ul li, div#submenu {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    -moz-border-radius-topright: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    padding: 0px;
}

div#submenu ul li, div#bottombezel ul li {
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    margin: 0.25em;
    padding: 0px;
}

.submenuitem li a {
    padding: 0.25em;
}
