h1 {
    font-size: large;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
}

p {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

blockquote.quote {
    margin: 1em 12em 0em 2em; 
    padding: 0.75em; 
    font-size: 93%;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.smallfont {
    font-size: 83%;
}

a {
    text-decoration: none;
}

a:hover { 
    text-decoration: underline; 
}

div#status {
    margin-bottom: 1em;
}

div#header {
    width: 100%;
    margin: 0 auto;
}

div#user {
    float: right;
    width: auto;
}

div#menu {
    float: left;
    width: auto;
}

div#submenu {
    width: 100%;
    clear: both;
    min-height: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

div#user ul, div#menu ul, div#submenu ul, div#bottombezel ul {
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 3px;
    margin-bottom: 1px;
    list-style-type: none;
}

.menuitem {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

.submenuitem {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px; 
    font-size: 90%;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.submenulegend {
    margin-left: 2px;
    display: inline-block;
    font-weight: bold;
}

.menuitem a, .submenuitem a {
    display: block;
}

.menuitem a:hover, .submenuitem a:hover {
    text-decoration: none;
}

.thread_list {
    width: 100%;
    border-collapse: collapse;
}

div#content {
    clear: both;
    margin-top: -1px;
    margin-bottom: -3px;
}

table.thread_list td {
    padding: 4px;
}

table.thread_list td.count {
    text-align: center;
    min-width: 1.5em;
}

div.recipientlist {
    max-width: 12em;
    max-height: 4em;
    overflow: hidden;
}

div.body, div.row2, div.my_post {
    padding: 4px;
}

div.body {
    padding-bottom: 8px;
}

div.body a {
    text-decoration: underline;
}

div.body a:hover {
    text-decoration: none;
}

div.post {
    margin-bottom: -1px; /* LOL */
}

p.replyform {
    padding: 10px;
}

textarea, input {
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

div#bottombezel {
    clear: both;
    min-height: 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

div#ra {
    float: right;
}

div#gtfo p {
    width: 40em; 
    text-align: center; 
    color: white; 
    background-color: #800000; 
    border: 3px solid white; 
    margin: 4px; 
    margin-right: auto; 
    margin-left: auto; 
    padding: 5px; 
    font-size: large; 
    font-weight: bold; 
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.urgent {
    text-decoration: blink;
    font-weight: bold;
}
