h1 {   
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
}

div#status {
    margin-bottom: 1em;
}

div#header {
    width: 100%;
    margin: 0 auto;
}

div#user {
    float: right;
    width: auto;
}

div#menu {
    float: left;
    width: auto;
}

div#user ul, div#menu ul {
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.menuitem {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

.thread_list {
    width: 100%;
    border-collapse: collapse;
}

div#content {
    clear: both;
}

table.thread_list td {
    padding: 3px;
}

div#ra {
    float: right;
}

div#gtfo p {
    width: 40em; 
    text-align: center; 
    color: white; 
    background-color: #800000; 
    border: 3px solid white; 
    margin: 4px; 
    margin-right: auto; 
    margin-left: auto; 
    padding: 4px; 
    font-size: large; 
    font-weight: bold; 
    text-transform: uppercase;
}

