{% extends "events/event_base.html" %}

{% block extrasubmenu %}
{% if local %}
    {% if upcoming %}
        <li class="submenuitem"><a href="{% url list-ew-events %}" title="show events for all cities">Show all cities</a> </li>
    {% else %}
        <li class="submenuitem"><a href="{% url list-past-ew-events %}" title="show events for all cities">>Show all cities</a> </li>
    {% endif %}
{% endif %}
{% if upcoming %}
    {% if local %}
        <li class="submenuitem"><a href="{% url list-past-events %}" title="show events that have already occured">Show past events</a> </li>
    {% else %}
        <li class="submenuitem"><a href="{% url list-past-ew-events %}" title="show events that have already occured">Show past events</a> </li>
    {% endif %}
{% endif %}
{% endblock extrasubmenu %}



{% load util mdctime %}
{% block content %}
   <table class="thread_list">
    {% withcycle "row1" "row2" as row_color %}
        {% for event in object_list %}
            {% if event.creator == user %}
                <tr class="my_post">
            {% else %}
                <tr class="{{ row_color }}">
            {% endif %}
            <td nowrap="nowrap"><a href="{% url view-profile event.creator.id %}">{{ event.creator.username }}</a></td>
            <td><a href="{% url view-event event.id %}" title="view this event">{{ event.thread.subject }}</a></td>
            <td nowrap="nowrap">{% mdctime event.time short event.market.timezone %}</td>
            </tr>
            {% nextcycle row_color %}
        {% endfor %}
    {% endwithcycle %}
    </table> 
{% endblock content %}
