{% extends "board/post_list.html" %}

{% block extrapostmenu %}
    <li class="submenuitem"> <a href="nowhere">rsvp</a></li>
    {% if perms.events.can_edit %}
        <li class="submenuitem"><a href="{% url edit-event event.id %}">Edit event</a></li>
    {% endif %}
{% endblock %}

{% block prepostcontent %}
<div class="row1">
    <p>
    <strong>{{ event.title }}</strong><br />
    <strong>When: </strong> {{ event.time|date:"D, d-M-Y \a\t h:i:s a"}}<br />
    <strong>Where: </strong> {{ event.location }}<br />
    <strong>What: </strong> {{ event.description }}<br />
    <strong>Who posted this: </strong> {{ event.creator }}<br />
    <strong>Attendees: </strong>{% spaceless %}
    {% for rsvp in rsvp_list %}
        {% if rsvp.attending == 'Yes' %} {{ rsvp.user.username }}{% else %}
        {% if rsvp.attending == 'Maybe' %}<em> {{ rsvp.user.username }}</em>{% endif %}{% endif %}
    {% endfor %}
    <br />{% endspaceless %}
    </p>
    <form action="{% url update-rsvp event.id %}" method="post">
        {% csrf_token %}
        <p>
        {{rsvp_form.attend.label }} {{ rsvp_form.attend }}
        <input class="button" type="submit" id="postbutton" value="Submit" />
        </p>
    </form>
</div>
{% endblock %}
