{% extends "board/post_list.html" %}

{% block extrapostmenu %}
    {% if perms.events.can_edit %}
        <li class="submenuitem"><a href="{% url edit-event event.id %}">Edit event</a></li>
    {% endif %}
{% endblock %}
{% load mdctime %}
{% block prepostcontent %}
<div class="body">
    <h2>{{ event.title }}</h2><br />
    <strong>When: </strong> {% mdctime event.time long event.market.timezone %}<br />
    <strong>Where: </strong> {{ event.location }}<br />
    <strong>What: </strong> {{ event.description }}<br />
    <strong>Who posted this: </strong> {{ event.creator }}<br />
    <strong>Attendees: </strong>{% spaceless %}
    {% for rsvp in rsvp_list %}
        {% if rsvp.attending == 'Yes' %} {{ rsvp.user.username }}{% else %}
        {% if rsvp.attending == 'Maybe' %}<em>{{ rsvp.user.username }}?</em>{% endif %}{% endif %}
    {% endfor %}
    <br />{% endspaceless %}
    <form action="{% url update-rsvp event.id %}" method="post">
        {% csrf_token %}
        <p>
        {{rsvp_form.attend.label }} {{ rsvp_form.attend }}
        <input class="button" type="submit" id="postbutton" value="Submit" />
        </p>
    </form>
</div>
{% endblock %}
