{% extends "base.html" %}

{% block content %}
    <a href="{% url new-pm %}">new message</a> |
    <a href="{% url inbox %}">inbox</a> |
    <a href="{% url outbox %}">outbox</a> |
    <a href="{% url mark-read %}">mark all read</a>
    <h3>Inbox</h3>
    <h3> {{ read_list.1 }}</h3>

    <table> 
    {% for pm in pm_read %}
            <tr>
            <td> {{ pm.0.sender.username }}</td>
            <td> <a href="/pms/{{ pm.0.pk }}">
            {% if not pm.1 %}<strong>{% endif %}
            {{ pm.0.subject }}
            {% if not pm.1 %}</strong>{% endif %}</a></td>
            <td> {{ pm.0.created_on }}</td>
        </tr>
        {% endfor %}
{%endblock %}
