{% extends "pms/pm_base.html" %}

{% block extrahead %}
<title>Inbox for {{ user.username }} - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
<h1>Inbox for {{ user.username }}</h1>
{% endblock %}

{% load mdctime %}
{% block content %}
    <table class="thread_list"> 
    {% for pm in pm_list %}
            <tr class="{% cycle "row1" "row2" %}">
            <td><a href="{% url view-profile pm.message.sender.id %}" title="View {{pm.dessage.sender.username }}'s profile">{{ pm.message.sender.username }}</a></td>
            <td>
                <a href="{% url view-pm pm.message.pk %}" title="View this pm">{% spaceless %}
                {% if pm.read %}
                    {{ pm.reply}}{{ pm.message.subject }}
                {% else %}
                    <strong>{{ pm.reply }}{{ pm.message.subject }}</strong>
                {% endif %}
                {% endspaceless %}</a></td>
            <td> {% mdctime pm.message.created_at short %}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block bottombezel %}
<div id="bottombezel">
    {% load pagemenu %}
    {% pagemenu page_obj %}
</div>
{% endblock %}
