{% extends "pms/pm_base.html" %}

{% block extrahead %}
<title>Inbox for {{ user.username }} - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
<h1>Inbox for {{ user.username }}</h1>
{% endblock %}

{% block content %}
    <table class="thread_list"> 
    {% for pm in pm_list %}
            <tr class="{% cycle "row1" "row2" %}">
            <td> {{ pm.message.sender.username }}</td>
            <td>
                <a href="{% url view-pm pm.message.pk %}">{% spaceless %}
                {% if pm.read %}
                    {{ pm.reply}}{{ pm.message.subject }}
                {% else %}
                    <strong>{{ pm.reply }}{{ pm.message.subject }}</strong>
                {% endif %}
                {% endspaceless %}</a></td>
            <td> {{ pm.message.created_at|date:"h:i a d-M-y" }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block bottombezel %}
<div id="bottombezel">
    <ul>
            <li class="submenulegend">Page:</li>
    {% for p in page_obj.paginator.page_range %}
        {% if p == page_obj.number %}
            <li class="submenuitem"><strong>{{ p }}</strong></li>
        {% else %}
            <li class="submenuitem"><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}
