{% extends "pms/pm_base.html" %}

{% block extrahead %}
<title>Outbox for {{ user.username }} - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
<h1>Outbox for {{ user.username }}</h1>
{% endblock %}


{% block content %}
    <table class="thread_list"> 
    {% for pm_rec in pm_rec_list %}
        <tr class="{% cycle "row1" "row2" %}">
            <td class="pmrecipients"><div class="recipientlist">
                {% for rec in pm_rec.rec_list %}
                    {% if rec.read %}
                        {{ rec.recipient.username }}
                    {% else %}
                        <strong>{{ rec.recipient.username }}</strong>
                    {% endif %}
                {% endfor %}</div></td>
            <td><a href="{% url view-pm pm_rec.pk %}">{{ pm_rec.reply }}{{ pm_rec.subject }}</a></td>
            <td nowrap="nowrap"> {{ pm_rec.created_at|date:"h:i a d-M-y" }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block bottombezel %}
<div id="bottombezel">
    <ul>
            <li class="submenulegend">Page:</li>
    {% for p in page_obj.paginator.page_range %}
        {% if p == page_obj.number %}
            <li class="submenuitem"><strong>{{ p }}</strong></li>
        {% else %}
            <li class="submenuitem"><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}

