{% extends "pms/pm_base.html" %}

{% block tabtitle %}
<title>Outbox for {{ user.username }} - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
<h1>Outbox for {{ user.username }}</h1>
{% endblock %}


{% block content %}
    <table class="thread_list"> 
    {% for pm_rec in pm_rec_list %}
        <tr class="{% cycle "row1" "row2" %}">
            <td class="pmrecipients"><div class="recipientlist">{% for rec in pm_rec.1 %}
                    {% if rec.1 %}{{ rec.0 }}{% else %}<strong>{{ rec.0 }}</strong>{%endif %}
                {% endfor %}</div></td>
            <td> <a href="/pms/{{ pm_rec.0.pk }}">{{ pm_rec.0.subject }}</a></td>
            <td nowrap="nowrap"> {{ pm_rec.0.created_on|date:"h:i a d-M-y" }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block bottombezel %}
<div id="bottombezel">
    <ul>
            <li class="submenulegend">Page:</li>
    {% for p in page_obj.paginator.page_range %}
        {% if p == page_obj.number %}
            <li class="submenuitem"><strong>{{ p }}</strong></li>
        {% else %}
            <li class="submenuitem"><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}

