{% extends "pms/pm_base.html" %}

{% block extrahead %}
<title>Outbox for {{ user.username }} - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
<h1>Outbox for {{ user.username }}</h1>
{% endblock %}

{% load mdctime %}
{% block content %}
    <table class="thread_list"> 
    {% for pm_rec in pm_rec_list %}
        <tr class="{% cycle "row1" "row2" %}">
            <td class="pmrecipients"><div class="recipientlist">
                {% for rec in pm_rec.rec_list %}
                    <a href="{% url view-profile rec.recipient.id %}" title="View {{rec.recipient.username }}'s profile">
                    {% if rec.read %}
                        {{ rec.recipient.username }}
                    {% else %}
                        <strong>{{ rec.recipient.username }}</strong>
                    {% endif %}
                    </a>
                {% endfor %}</div></td>
            <td><a href="{% url view-pm pm_rec.pk %}" title="View private message">{{ pm_rec.reply }}{{ pm_rec.subject }}</a></td>
            <td nowrap="nowrap"> {% mdctime pm_rec.created_at short %}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block bottombezel %}
<div id="bottombezel">
    {% load pagemenu %}
    {% pagemenu page_obj %} 
</div>
{% endblock %}

