{% extends "base.html" %}

{% block extramenu %}
    <div id="submenu">
        <ul>
            <li class="submenuitem"><a href="{% url new-pm %}">New message</a> </li>
            <li class="submenuitem"><a href="{% url inbox %}">Inbox</a> </li>
            <li class="submenuitem"><a href="{% url outbox %}">Outbox</a> </li>
            <li class="submenuitem"><a href="{% url mark-read %}">Mark all read</a></li>
            {% block extrasubmenu %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}
