{% extends "base.html" %}

{% block extramenu %}
    <div id="submenu">
        <ul>
            <li class="submenuitem"><a href="{% url new-pm %}" title="send a new pm">New message</a> </li>
            <li class="submenuitem"><a href="{% url inbox %}" title="go to your inbox">Inbox</a> </li>
            <li class="submenuitem"><a href="{% url outbox %}" title="go to your outbox">Outbox</a> </li>
            <li class="submenuitem">
                <form name="markf" action="{% url mark-read %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="confirm" value="true">
                <a href="javascript:void(1);" onClick="document.markf.submit()" title="mark all pms read">
                    Mark all read</a>
                </form>
                </li>
            {% block extrasubmenu %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}
