{% extends "pms/pm_base.html" %}

{% block extrahead %}
<title>{{ pm.subject}} - {{ site_name }}</title>
<script type="text/javascript" language="JavaScript" src="{{ MEDIA_URL }}js/quote.js"></script>
{% endblock %}

{% block pagetitle %}
<h1>{{ pm.subject }}</h1>
{% endblock %}

{% block extrasubmenu %}
<li class="submenuitem"><a href="{% url del-pm pm.id %}">Delete</a></li>
{% if not thread %}
    <li class="submenuitem"><a href="{% url pm-thread pm.id %}">Show Thread</a></li>
{% endif %}
{% endblock %}

{% load bbcode %}

{% block content %}
<div class="post">
    {% if pm.sender == user %}
        <div class="my_post">
    {% else %}
        <div class="row2">
    {% endif %}
        <span id="info_{{ pm.id}}"><strong><a href="{% url view-profile pm.sender.id %}">{{ pm.sender.username }}</a></strong> posted this on {{ pm.created_on|date:"D, d-M-Y \a\t h:i:s a"}} to {{ rec_str }}</span><br />
         <strong>Subject: </strong>{{ pm.subject }}
         </div>

         <div class="body">
                <p>{% bbcode pm.body %}</p>
         </div>
</div>
{% endblock %}
{% block bottombezel %}
    <div id="bottombezel">
        <ul>
            <li class="submenuitem"><a href="javascript:;" onclick="quote('{% url get-pm-quote pm.id %}')">Quote</a></li>
            <li class="submenuitem"><a href="javascript:;" onClick="getElementById('id_recs').value='{{ reply_all }}'">Reply All </a></li>
        </ul>
    </div>

{% endblock %}

{% block replyform %}

<form method="post" action="{% url view-pm pm.pk %}">
{% csrf_token %}
<table class="replyform">
    <tr>
        
         
    </tr>
    <tr>
        <th nowrap="nowrap" class="legend">
        <label for="id_recs">Reply to:</label></td>
        <td>{{ form.recs }} {{ form.recs.errors }}</td>
    </tr>
    <tr>
        <th />
        <td><span class="smallfont">Separate multiple user names with spaces.</span></td>
    </tr>
    <tr>
        <th nowrap="nowrap" class="legend"><label for="id_subject">Subject:</label></th>
        <td>{{ form.subject }} {{ form.subject.errors }}</td>
    </tr>
    <tr>
        <th />
        <td>{{ form.body }} {{ form.body.errors }}</td>
    </tr>
    <tr>
        <th />
        <td><input type="submit" value="Send" /></td>
    </tr>
</table>
</form>

{% endblock %}
