{% extends "pms/pm_base.html" %}

{% block extrahead %}
<title>{{ pm.subject}} - {{ site_name }}</title>
<script type="text/javascript" language="JavaScript" src="{{ MEDIA_URL }}js/quote.js"></script>
{% endblock %}

{% block pagetitle %}
<h1>{{ pm.subject }}</h1>
{% endblock %}

{% block extrasubmenu %}
<li class="submenuitem">
<form name="delf" action="{% url del-pm pm.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="confirm" value="true">
    <a href="javascript:void(1);" onClick="document.delf.submit();" title="Delete this pm">Delete</a>
</form>
</li>
{% if not thread %}
    <li class="submenuitem"><a href="{% url pm-thread pm.id %}" title="View all related messages as a thread">Show Thread</a></li>
{% endif %}
{% endblock %}

{% load bbking %}
{% load mdctime %}

{% block content %}
{% if parent %}
<div class="post">
    {% if pm.sender == user %}
        <div class="my_post">
    {% else %}
        <div class="row2">
    {% endif %}
        <span id="info_{{ parent.id}}"><strong><a href="{% url view-profile parent.sender.id %}" title="View {{ parent.sender.username }}'s profile">{{ parent.sender.username }}</a></strong> sent this on {% mdctime parent.created_at long %} to {{ parent_rec_str }}</span><br />
         <strong>Subject: </strong>{{ parent.subject }}
         </div>

         <div class="body">
                <p>{% bbcode parent.bbcode %}</p>
         </div>

</div>
{% endif %}
<div class="post">
    {% if pm.sender == user %}
        <div class="my_post">
    {% else %}
        <div class="row2">
    {% endif %}
        <span id="info_{{ pm.id}}"><strong><a href="{% url view-profile pm.sender.id %}" title="View {{pm.sender.username }}'s profile">{{ pm.sender.username }}</a></strong> sent this on {% mdctime pm.created_at long %} to {{ rec_str }}</span><br />
         <strong>Subject: </strong>{{ pm.subject }}
         </div>

         <div class="body">
                <p>{% bbcode pm.bbcode %}</p>
         </div>
</div>
{% endblock %}
{% block bottombezel %}
    <div id="bottombezel">
        <ul>
            <li class="submenuitem"><a href="javascript:;" onclick="quote('{% url get-pm-quote pm.id %}')" title="Quote this message in a reply">Quote</a></li>
            <li class="submenuitem"><a href="javascript:;" onClick="getElementById('id_recs').value='{{ reply_all }}'" title="Reply to all">Reply All </a></li>
        </ul>
    </div>

{% endblock %}

{% block replyform %}

<form method="post" action="{% url view-pm pm.pk %}" onSubmit="document.getElementById('postbutton').style.display='none';">
{% csrf_token %}
<table class="replyform">
    <tr>
        
         
    </tr>
    <tr>
        <th nowrap="nowrap" class="legend">
        <label for="id_recs">Reply to:</label></td>
        <td>{{ form.recs }} {{ form.recs.errors }}</td>
    </tr>
    <tr>
        <th />
        <td><span class="smallfont">Separate multiple user names with spaces.</span></td>
    </tr>
    <tr>
        <th nowrap="nowrap" class="legend"><label for="id_subject">Subject:</label></th>
        <td>{{ form.subject }} {{ form.subject.errors }}</td>
    </tr>
    <tr>
        <th />
        <td>{{ form.body }} {{ form.body.errors }}</td>
    </tr>
    <tr>
        <th />
        <td><input type="submit" id="postbutton" value="Send" /></td>
    </tr>
</table>
</form>

{% endblock %}
