{% extends "base.html" %}
{% block extrahead %}
<title>User List - {{ site_name }}</title>
{% endblock %}

{% block pagetitle %}
<h1>User List</h1>
{% endblock %}

{% block content %}
    <table class="thread_list">
    {% for profile in profile_list %}
            <tr class="{% cycle "row1" "row2" %}">
            <td> {{ forloop.counter }} </td>
            <td><a href="{% url view-profile profile.id %}">{{ profile.username }}</a></td>
            <td>joined on {{ profile.date_joined }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

