{% extends "base.html" %}

{% block extramenu %}
    <div id="submenu">
        <ul>
            <li class="submenuitem"><a href="{% url edit-prefs %}" title="edit your preferences">Preferences</a></li>
            <li class="submenuitem"><a href="{% url edit-info %}" title="edit your profile">Edit profile</a></li>
            <li class="submenuitem" title="edit your theme"><a href="{% url edit-theme %}">Edit theme</a></li>
            <li class="submenuitem" title="change your password"><a href="{% url passwd %}">Change password</a></li>
        </ul>
    </div>
{% endblock %}
        

