{% extends "profiles/profile_base.html" %}
{% block tabtitle %}
<title>Profile: {{ view_user.username }}</title>
{% endblock %}
{% block pagetitle %}
<h1>Profile: {{ view_user.username }}</h1>
{% endblock %}


{% block content %}
<div class="row2">
<table class="thread_list">
    <tr>
        <td>
            <strong>Name:</strong> {{ view_profile.name }} <br />
            <strong>Location:</strong> {{ view_profile.location }} <br />
            <strong>Phone Number:</strong> {{ view_profile.phone }} <br />
            <strong>Email:</strong>  {{ view_profile.public_email }} <br />
            <strong>AIM:</strong> {{ view_profile.aim_name }} <br />
            <strong>Gtalk: </strong> {{ view_profile.gtalk_name }} <br />
            <strong>Website: </strong> <a href="{{ view_profile.website }}">{{ view_profile.website }} </a> <br />
            
            <strong>Info:</strong> <br /> 
            <p>{{ view_profile.info|linebreaks }}</p> <br/>
            <strong>Profile views:</strong> {{ view_profile.profile_views }}<br />
            <strong>Last seen:</strong> <br /> 
        </td>
        {% if view_profile.photo_url %}
            <td align="right" valign="top">    
                <img src="{{ view_profile.photo_url }}"> <br>
        {% endif %}
    </tr>
</table>
</div>
{% endblock %}







