{% extends "profiles/profile_base.html" %}


{% block content %}
<h3>{{ view_user.username }}</h3>
<b>Name: </b> {{ view_profile.name }} <br>
<b>Location: </b> {{ view_profile.location }} <br>
<b>Phone Number:</b> {{ view_profile.phone }} <br>
<b>Email: </b>  {{ view_profile.public_email }} <br>
<b>AIM: </b> {{ view_profile.aim_name }} <br>
<b>Gtalk: </b> {{ view_profile.gtalk_name }} <br><b>Website: </b> <a href="{{ view_profile.website }}">{{ view_profile.website }} </a> <br>
{% if view_profile.photo_url %}
    <img src="{{ view_profile.photo_url }}"> <br>
{% endif %}
<b>Info: </b> {{ view_profile.info }} <br>

<h4>statistics</h4>
<b>Last seen: </b> {{ view_profile.last_view }}
<b>Profile Views</b> {{ view_profile.profile_views }}

{% endblock %}







