{% extends "base.html" %}

{% block tabtitle %}
<title>Profile: {{ view_user.username }}</title>
{% endblock %}
{% block pagetitle %}
<h1>Profile: {{ view_user.username }}</h1>
{% endblock %}


{% block extramenu %}
    <div id="submenu">
        <ul>
            {% if not view_user.id == user.id %}
                <li class="submenuitem"><a href="{% url new-pm view_user.id %}">
                Send {{ view_user.username }} a pm</a></li>
            {% else %}
                <li class="submenuitem"><a href="{% url view-profile user.id %}">View profile</a></li>
                <li class="submenuitem"><a href="{% url edit-prefs %}">Preferences</a></li>
                <li class="submenuitem"><a href="{% url edit-info %}">Edit profile</a></li>
                <li class="submenuitem"><a href="{% url edit-theme %}">Edit theme</a></li>
                <li class="submenuitem"><a href="{% url passwd %}">Change password</a></li>
            {% endif %}
            <li class="submenuitem"><a href="{% url threads-by view_user.id %}">
                Threads by {{view_user.username}}</a></li>
            <li class="submenuitem"><a href="{% url posts-by view_user.id %}">
                Posts by {{view_user.username}}</a></li>
        </ul>
    </div>
{% endblock extramenu %}



{% block content %}
<div class="row2">
<table class="thread_list">
    <tr>
        <td>
            {% if view_profile.name %} 
                <strong>Name:</strong> {{ view_profile.name }} <br />
            {% endif %}
            {% if view_profile.location %} 
                <strong>Location:</strong> {{ view_profile.location }} <br />
            {% endif %}
            {% if view_profile.phone %} 
                <strong>Phone Number:</strong> {{ view_profile.phone }} <br />
            {% endif %}
            {% if view_profile.public_email %} 
                <strong>Email:</strong>  {{ view_profile.public_email }} <br />
            {% endif %}
            {% if view_profile.aim_name %} 
                <strong>AIM:</strong> {{ view_profile.aim_name }} <br />
            {% endif %}
            {% if view_profile.gtalk_name %} 
                <strong>Gtalk: </strong> {{ view_profile.gtalk_name }} <br />
            {% endif %}
            {% if view_profile.website %} 
                <strong>Website: </strong> <a href="{{ view_profile.website }}">{{ view_profile.website }} </a> <br />
            {% endif %}
            {% if view_profile.info %} 
                <strong>Info:</strong> <br /> 
                <p>{{ view_profile.info|linebreaks }}</p> <br/>
            {% endif %}
            <strong>Profile views:</strong> {{ view_profile.profile_views }}<br />
            <strong>Last seen:</strong>{{ last_seen|date:"D, d-M-Y \a\t h:m a" }}<br /> 
        </td>
        {% if view_profile.photo_url %}
            <td align="right" valign="top">    
                <img src="{{ view_profile.photo_url }}"> <br>
        {% endif %}
    </tr>
</table>
</div>
{% endblock %}







